.heading {
  text-align: left;
  position: absolute;
  top: 250px;
}

.button {
  margin: 8px 20px 8px 70px;
  padding: 10px 20px;
  color: white;
  background-color: blue;
  border-radius: 4px;
  cursor: pointer;
}

.h1 {
  margin-left: 70px;
}

.p {
  max-width: 450px;
  margin-left: 70px;
}